body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 80px; /* Collapsed width */
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #111;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.expanded {
  width: 270px;
}

/* --------------------Sidebar header-------------------- */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #192a41;
  color: white;
  cursor: pointer;
}

.sidebar-header .logo img {
  width: 40px;
  height: 40px;
}
.sidebar-title {
  position: relative;
  left: -20px;
  font-size: x-large;
}
.sidebar-header .sidebar-title {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;  /* transition: "action" .3s ease */
}

.sidebar.expanded .sidebar-header .sidebar-title {
  opacity: 1;
}
/* ------------------------------------------------------------ */

/*-------------------- Toggle button -------------------- */
.toggle-btn {
  position: absolute;
  left: 85%; /* This keeps it at the edge of the sidebar */
  cursor: pointer;
  background-color: #0c2f3b;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  transition: left 0.3s ease;
}

.toggle-btn.expanded {
  left: 265px; /* Move out when sidebar is expanded */
}
/*------------------------------------------------------- */


/*-------------------- Sidebar menu -------------------- */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 15px;
  text-align: left;
  transition: background-color 0.3s ease;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-item:hover {
  background-color: #2a2a2a;
}
.sidebar-item.active {
  background-color: #008CBA; /* Highlight the active item */
}

.sidebar-item img.icon {
  width: 25px;
  height: 25px;
}

.sidebar-item-content {
  position: absolute;
  margin-left: 50px;
}
.sidebar-item a {
  text-decoration: none;
  color: #ddd;
  font-size: 16px;
  transition: color 0.3s ease;
}
.sidebar-item.active a {
  color: #fff; /* Change text color for the active item */
}

.sidebar.expanded .sidebar-menu .icon {
  margin-right: 15px;
}

.sidebar-menu .sidebar-item-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.expanded .sidebar-menu .sidebar-item-content {
  opacity: 1;
}

.sidebar-menu img.icon {
  margin-left: 10px;
  transition: margin 0.3s ease-out;
}

.sidebar.expanded .sidebar-menu img.icon {
  margin-left: 0;
}

.badge {
  background-color: #ff3366;
  color: white;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 10px;
}
/*------------------------------------------------------- */

.content {
  background-color: #f0f4f8;
  margin-left: 80px;
  overflow-y: scroll;
}
.sidebar-header-infomation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 20px;
  background-color: #192a41;
  color: white;
  position: fixed;
  width: -webkit-fill-available;
}
.user-name {
  position: relative;
  left: -10px;
  font-size: small;
}
.sidebar-header-infomation .user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Profile Dropdown styles */
.profile-dropdown {
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: inline-block;
}

.profile-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 25px;
}

.profile-button .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  right: 35px;
  background-color: #ffffff;
  min-width: 150px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #e0e0e0;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: rgb(240, 243, 248);
}

/* Toggle the dropdown visibility when clicked */
.profile-dropdown.open .dropdown-content {
  display: block;
}


.icon {
  position: relative;
  width: 50px;
  height: 50px;
  color: white;
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  border: 2px solid #333;
  border-radius: 5px;
}

.icon::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: white;
}

.icon::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: #fff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.question-mark {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* --------------------------------------Body---------------------------- */
.content-body {
  padding: 60px 20px 0px 20px;
  background-color: #f0f4f8;
}

h1 {
  color: #0d1b2a;
}

p {
  color: #33475b;
  line-height: 1.6;
}

/* Popup styles */
.popup {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden; /* Hide it initially without using display: none */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth fade-in and fade-out */
}
.popup.show {
  opacity: 1;
  visibility: visible;
}
.popup-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  max-width: 500px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: slide-down 0.3s ease;
}
/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}
.close-btn:hover {
  color: #333;
}

/* Slide-down animation */
@keyframes slide-down {
  from {
      transform: translateY(-20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}