.top-content-thongtincathi {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

.thongtincathi {
    display: flex;
    gap: 5vh;
}

.ca-thi {
    display: flex;
    align-items: center;
}

.ds-cathi-container {
    max-height: 80vh; /* Set a fixed height for the scrollable table content */
    overflow-y: auto; /* Enable vertical scroll */
    margin-top: 10px;
}
.tblDSSinhVienThamGiaThi {
    width: 100%;
    border-collapse: collapse;
}

.tblDSSinhVienThamGiaThi thead th {
    position: sticky;
    top: -1px;
    background-color: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.tblDSSinhVienThamGiaThi th,
.tblDSSinhVienThamGiaThi td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.tblDSSinhVienThamGiaThi tr {
    cursor: pointer;
}

.tblDSSinhVienThamGiaThi tr:hover {
    background-color: #f5f5f5;
}