.thongtincathi {
    display: flex;
    align-items: center;
}

.top-content-taocathi {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}

select {
    padding: 8px 30px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left: 0;
}

select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(251, 253, 255, 0.5);
}

select>option:hover {
    background-color: rgb(240, 239, 239);
}

.thongtincathi {
    display: flex;
    gap: 5vh;
}

.lbl-topcontent {
    margin-right: 10px;
}

.datetime-picker {
    padding: 8px 30px 8px 10px;
    font-size: medium;
    width: 100px;
}

.datetime-picker:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(251, 253, 255, 0.5);
    border-radius: 5px;
}

.xacnhantaocathi {}

.flatpickr-day.past-date {
    color: #ccc;
    /* Gray color for past dates */
    background-color: #f5f5f5;
    /* Light background */
    pointer-events: none;
    /* Make past dates non-selectable */
}

th.sorted-asc::after {
    content: " ▲";
}

th.sorted-desc::after {
    content: " ▼";
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(231, 231, 231);
}

tr:hover {
    background-color: rgb(240, 239, 239);
}

.ds-sinhvien-container {
    max-height: 80vh; /* Set a fixed height for the scrollable table content */
    overflow-y: auto; /* Enable vertical scroll */
}

.tblDSSinhVienTaoCaThi {
    width: 100%;
    border-collapse: collapse;
}

.tblDSSinhVienTaoCaThi thead th {
    position: sticky;
    top: -1px;
    background-color: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.tblDSSinhVienTaoCaThi th,
.tblDSSinhVienTaoCaThi td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.tblDSSinhVienTaoCaThi tr {
    cursor: pointer;
}

.tblDSSinhVienTaoCaThi tr:hover {
    background-color: #f5f5f5;
}